@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

nav {
  font-size: 20px;
  font-weight: 700;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./asset/images/hero.jpg);
  background-size: cover;
  color: #fff;
}

.container {
  margin: 0px auto;
  width: 1200px;
}

.header-container {
  width: 1200px;
  position: absolute;
  /* In relation to PARENT size */
  top: 50%;
  left: 50%;

  /*  In relation to ELEMENT size */

  transform: translate(-50%, -50%);
}

.header-container--inner {
  width: 50%;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  color: #fff;
  background-color: #e67e22;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}
section {
  padding: 96px;
  background-color: #f7f7f7;
}

@media (max-width: 600px) {
  .header-container--inner {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 44px;
  }
}

@media (max-width: 600px) {
  nav.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 18px;
  }
  .container div {
    padding-bottom: 8px;
  }
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
}

@media (max-width: 600px) {
  section h2,
  p {
    width: 300px;
  }
}
